In [1]:
print("Hello World!")

Hello World!

In [2]:
# Variable -> is a container which stores data in it. 
# [Python] -> variable auto detects the data type
x = 99
print(x)
print(type(x)) # What data type 'x' stores ['int']

99
<class 'int'>

In [3]:
x = 'Coding'
print(x) # 99 it is updated to 'Coding'
print(type(x)) # 'string' type  , '' or ""

Coding
<class 'str'>

# Java 
int x = 10
System.out.println(x)
String x = 'Coding'
System.out.println(x)

In [4]:
x = 'X' # char
print(x)
print(type(x)) # 'str'

X
<class 'str'>

In [5]:
x = int('21') + 1
print(x) # 22
print(type(x)) # 'int'

22
<class 'int'>

In [6]:
x = 99.99 
print(x)
print(type(x))

99.99
<class 'float'>

In [7]:
x = 11 + 9j
print(x)
print(type(x))

(11+9j)
<class 'complex'>

In [8]:
x = True
print(x)
print(type(x)) # 'bool'

True
<class 'bool'>

In [9]:
# INSERT INTO Customers(customer_id, customer_name , customer_phone) -> parameters
# VALUES ('K0191' , 'Akancha Ranjan', 04727678627) -> arguments
# print [Function -> argument [end,sep]]
print('Python')
print('Programming')

Python
Programming

In [11]:
# By Default end = '\n' [which moves the content to the next line]
print('Python', end = ' ')
print('Programming')
print("Coding is Awesome ðŸ”¥")

Python Programming
Coding is Awesome ðŸ”¥

In [12]:
print('Python', end = '\t') # tab like space  
print('Programming')

Python	Programming

In [13]:
# car_list = ['Creta', 'Safari', 'Sierra' , 'Harrier' , 'Duster'] ',' [Sept]
print('Mon','Tues','Wed', 'Thurs', 'Fri')

Mon Tues Wed Thurs Fri

In [14]:
print('Mon','Tues','Wed', 'Thurs', 'Fri' , sep = ' - ')

Mon - Tues - Wed - Thurs - Fri

## __Input()__ :
##### Used to accept user input from the keyboard as a string which can be type cast as per the requirement.

In [20]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName UltimateForce

UltimateForce

In [21]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName PardhanJi

PardhanJi

In [23]:
# TypeCasting 
val = input("Enter the Value : ") # String
print(val)
print(type(val)) # 'str'

Enter the Value :  21

21
<class 'str'>

In [24]:
val = int(input("Enter the Value : ")) # Int int('21') 21
print(val)
print(type(val))

Enter the Value :  21

21
<class 'int'>

In [25]:
# Operations [Arithmetic Operators]
val = int(input("Enter the Value : ")) 
print(val * 5)
print(type(val))

Enter the Value :  11

55
<class 'int'>

In [26]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  11

1111111111
<class 'str'>

In [27]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  a

aaaaa
<class 'str'>

In [29]:
val = input("Enter the Value : ") 
print(val + '11')
print(type(val))

Enter the Value :  11

1111
<class 'str'>

In [30]:
x = int(input("Enter a number between 1 to 100:")) 
x = x + 11
print(x)

Enter a number between 1 to 100: 66

77

Check_Constraints -> Error Handling ['Raise'] [Try/Catch]

In [35]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Abhishek
Enter Your Designation :  Senior Analyst

Hey , Abhishek! Welcome to the Team. You are hired as a Senior Analyst role.

In [36]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Annu Mishra
Enter Your Designation :  Data Architect

Hey , Annu Mishra! Welcome to the Team. You are hired as a Data Architect role.

In [40]:
# MultiLine Comments 
'''
    This is a multiline Comments .....
    Put the important Stuff here relevant
    to your python Programming
'''
print('Hi, EveryOne!')

Hi, EveryOne!

In [41]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result}")

Enter the First_Value:  22
Enter the Second_Value:  15

The final Result is :  330
The final Result is : 330

In [42]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result + 10}")

Enter the First_Value:  5
Enter the Second_Value:  16

The final Result is :  80
The final Result is : 90

In [43]:
print(result)

80

In [44]:
# Invoice Billing
item1 = float(input("Enter the price of Item1: ")) 
item2 = float(input("Enter the price of Item2: ")) 
item3 = float(input("Enter the price of Item3: ")) 
item4 = float(input("Enter the price of Item4: ")) 
item5 = float(input("Enter the price of Item5: ")) 
billing_amount = item1 + item2 + item3 + item4 + item5
gst_tax = billing_amount * 0.05
total_payment = billing_amount + gst_tax
print("Welcome Customer!, You final billing amount is" , total_payment)
print(f"Welcome Customer!, You final billing amount is {total_payment}" )

Enter the price of Item1:  99.99
Enter the price of Item2:  129.99
Enter the price of Item3:  499.99
Enter the price of Item4:  59.87
Enter the price of Item5:  83.55

Welcome Customer!, You final billing amount is 917.0595
Welcome Customer!, You final billing amount is 917.0595

In [45]:
print(billing_amount)

873.39

In [46]:
print(gst_tax)

43.6695

In [47]:
print(873.39 + 43.6695)

917.0595