In [1]:
print("Hello World!")

Hello World!

In [2]:
# Variable -> is a container which stores data in it. 
# [Python] -> variable auto detects the data type
x = 99
print(x)
print(type(x)) # What data type 'x' stores ['int']

99
<class 'int'>

In [3]:
x = 'Coding'
print(x) # 99 it is updated to 'Coding'
print(type(x)) # 'string' type  , '' or ""

Coding
<class 'str'>

# Java 
int x = 10
System.out.println(x)
String x = 'Coding'
System.out.println(x)

In [4]:
x = 'X' # char
print(x)
print(type(x)) # 'str'

X
<class 'str'>

In [5]:
x = int('21') + 1
print(x) # 22
print(type(x)) # 'int'

22
<class 'int'>

In [6]:
x = 99.99 
print(x)
print(type(x))

99.99
<class 'float'>

In [7]:
x = 11 + 9j
print(x)
print(type(x))

(11+9j)
<class 'complex'>

In [8]:
x = True
print(x)
print(type(x)) # 'bool'

True
<class 'bool'>

In [9]:
# INSERT INTO Customers(customer_id, customer_name , customer_phone) -> parameters
# VALUES ('K0191' , 'Akancha Ranjan', 04727678627) -> arguments
# print [Function -> argument [end,sep]]
print('Python')
print('Programming')

Python
Programming

In [11]:
# By Default end = '\n' [which moves the content to the next line]
print('Python', end = ' ')
print('Programming')
print("Coding is Awesome ðŸ”¥")

Python Programming
Coding is Awesome ðŸ”¥

In [12]:
print('Python', end = '\t') # tab like space  
print('Programming')

Python	Programming

In [13]:
# car_list = ['Creta', 'Safari', 'Sierra' , 'Harrier' , 'Duster'] ',' [Sept]
print('Mon','Tues','Wed', 'Thurs', 'Fri')

Mon Tues Wed Thurs Fri

In [14]:
print('Mon','Tues','Wed', 'Thurs', 'Fri' , sep = ' - ')

Mon - Tues - Wed - Thurs - Fri

## __Input()__ :
##### Used to accept user input from the keyboard as a string which can be type cast as per the requirement.

In [20]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName UltimateForce

UltimateForce

In [21]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName PardhanJi

PardhanJi

In [23]:
# TypeCasting 
val = input("Enter the Value : ") # String
print(val)
print(type(val)) # 'str'

Enter the Value :  21

21
<class 'str'>

In [24]:
val = int(input("Enter the Value : ")) # Int int('21') 21
print(val)
print(type(val))

Enter the Value :  21

21
<class 'int'>

In [25]:
# Operations [Arithmetic Operators]
val = int(input("Enter the Value : ")) 
print(val * 5)
print(type(val))

Enter the Value :  11

55
<class 'int'>

In [26]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  11

1111111111
<class 'str'>

In [27]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  a

aaaaa
<class 'str'>

In [29]:
val = input("Enter the Value : ") 
print(val + '11')
print(type(val))

Enter the Value :  11

1111
<class 'str'>

In [30]:
x = int(input("Enter a number between 1 to 100:")) 
x = x + 11
print(x)

Enter a number between 1 to 100: 66

77

Check_Constraints -> Error Handling ['Raise'] [Try/Catch]

In [35]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Abhishek
Enter Your Designation :  Senior Analyst

Hey , Abhishek! Welcome to the Team. You are hired as a Senior Analyst role.

In [36]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Annu Mishra
Enter Your Designation :  Data Architect

Hey , Annu Mishra! Welcome to the Team. You are hired as a Data Architect role.

In [40]:
# MultiLine Comments 
'''
    This is a multiline Comments .....
    Put the important Stuff here relevant
    to your python Programming
'''
print('Hi, EveryOne!')

Hi, EveryOne!

In [41]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result}")

Enter the First_Value:  22
Enter the Second_Value:  15

The final Result is :  330
The final Result is : 330

In [42]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result + 10}")

Enter the First_Value:  5
Enter the Second_Value:  16

The final Result is :  80
The final Result is : 90

In [43]:
print(result)

80

In [44]:
# Invoice Billing
item1 = float(input("Enter the price of Item1: ")) 
item2 = float(input("Enter the price of Item2: ")) 
item3 = float(input("Enter the price of Item3: ")) 
item4 = float(input("Enter the price of Item4: ")) 
item5 = float(input("Enter the price of Item5: ")) 
billing_amount = item1 + item2 + item3 + item4 + item5
gst_tax = billing_amount * 0.05
total_payment = billing_amount + gst_tax
print("Welcome Customer!, You final billing amount is" , total_payment)
print(f"Welcome Customer!, You final billing amount is {total_payment}" )

Enter the price of Item1:  99.99
Enter the price of Item2:  129.99
Enter the price of Item3:  499.99
Enter the price of Item4:  59.87
Enter the price of Item5:  83.55

Welcome Customer!, You final billing amount is 917.0595
Welcome Customer!, You final billing amount is 917.0595

In [45]:
print(billing_amount)

873.39

In [46]:
print(gst_tax)

43.6695

In [47]:
print(873.39 + 43.6695)

917.0595

In [1]:
# Indentation : 
z = 15
if z > 10: # Comparision Operator [Boolean Result [True/False]]
    print("Z is greater than 10.") # skiped if the above statement is false

print("Outside the If Statement")

Z is greater than 10.
Outside the If Statement

In [2]:
# Identation : 
z = 15
if z > 20: # Comparision Operator [Boolean Result [True/False]]
    print("Z is greater than 20.") # skiped if the above statement is false

print("Outside the If Statement")

Outside the If Statement

In [3]:
print(10>5) # Comparison Operators [True]

True

In [4]:
print(99>199) # False

False

## Variables : What & How?
#### Variables acts as a container used for storing data, which help with:
- Store Data.
- Manipulating Values.
- Reusability.
- Improving the Readibility:
    - total_sum >> ts
    - compound_interest >> c_i
    - age >> a
    - finding_prod_sum >> finding_the_product_and_sum >> p_s

In [5]:
# Declaring and assigning Variables
val = 99
user_name = 'UltimateForce'
print(val)
print(user_name)

99
UltimateForce

In [6]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

a,b,c = 10,20,30,40,50,60,70 # ValueError: too many values to unpack (expected 3)
print(a)
print(b)
print(c)

In [10]:
a,b,*c = 10,20,30,40,50,60,70 
print(a)
print(type(a))
print(b)
print(type(b))
print(c) # [30,40,50,60,70] 5 elements in a list
print(type(c)) # 'List'

10
<class 'int'>
20
<class 'int'>
[30, 40, 50, 60, 70]
<class 'list'>

a,*b,*c = 10,20,30,40,50,60,70 # SyntaxError: multiple starred expressions in assignment
print(a)
print(type(a))
print(b)
print(type(b))
print(c) # [30,40,50,60,70] 5 elements in a list
print(type(c)) # 'List'

In [12]:
a,*b,c = 10,20,30,40,50,60,70 
print(a)
print(type(a))
print(b) # [20,30,40,50,60]
print(type(b)) # 'List'
print(c) 
print(type(c))

10
<class 'int'>
[20, 30, 40, 50, 60]
<class 'list'>
70
<class 'int'>

In [13]:
*a,b,c = 10,20,30,40,50,60,70 
print(a) # [10,20,30,40,50]
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10, 20, 30, 40, 50]
<class 'list'>
60
<class 'int'>
70
<class 'int'>

In [14]:
*a,b,c = 10,20,30
print(a) # 10
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10]
<class 'list'>
20
<class 'int'>
30
<class 'int'>

In [16]:
*a,b,c = 10,20,'a','b','c','d',30,50
print(a) # [10,20,'a','b','c','d']
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10, 20, 'a', 'b', 'c', 'd']
<class 'list'>
30
<class 'int'>
50
<class 'int'>

In [15]:
p=q=r=s = 'Hello World'
print(p)
print(q)
print(r)
print(s)

Hello World
Hello World
Hello World
Hello World

# Rules for Naming a 'Variables' :
- Can include letters, digits and underscore.
- Must start with a letter or underscore.
- case-sensitive:
    - val != Val
    - num != NuM
    - digit != Digit
- Can't use Python Keyword.
    - for , input , print , if , else , def , tuple , list , dict , true , false , while
- Can't have space or special Characters (except _)
- Variable names Can't start with Number.

In [17]:
my_first_variable = 'Python Learning'
print(my_first_variable)

Python Learning

Is it a valid Variable Name or Not : âœ…âŒ
_var : âœ…
22_user : âŒ
word count : âŒ
counter_var : âœ…
boolean : âœ…
loop123 : âœ…
def : âŒ [Keyword]
user-name : âŒ

In [21]:
# String -> Escape Characters ('\')
print('Hi, I\'m good, What about you?') # '\''
print("Hi, I'm good, What about you?")

Hi, I'm good, What about you?
Hi, I'm good, What about you?

In [22]:
print("an \"apple\" a day keeps the doctor away")

an "apple" a day keeps the doctor away

In [23]:
print('an "apple" a day keeps the doctor away')

an "apple" a day keeps the doctor away

In [24]:
print("an 'apple' a day keeps the doctor away")

an 'apple' a day keeps the doctor away

In [26]:
# Multiline Strings [""" ............ """] <pre> tag in html
print("""
                    Ina meena Dika,           Daai,             Daamo nika

                Maaka naaka naaka, chika                pika rika

            Ina meena            dika dika de             daai daamo nika

        Maaka naaka          maaka naaka             chika pika rola rika
""")

                    Ina meena Dika,           Daai,             Daamo nika

                Maaka naaka naaka, chika                pika rika

            Ina meena            dika dika de             daai daamo nika

        Maaka naaka          maaka naaka             chika pika rola rika

In [31]:
# Escape Characters "\n"[Next Line] & '\t' [tab space]
print("Hey: What is your name:\t 'Annu Mishra'")
print("Hello \nWorld")
print("x", end = " ")
print("y", end = " ")
print("z", end = "\n")
print("Welcome Back!")

Hey: What is your name:	 'Annu Mishra'
Hello
World
x y z
Welcome Back!

In [32]:
# type -> conversion()
x = 10.0
print(type(x))

<class 'float'>

In [33]:
num1 = int(x)
print(num1)

10

In [34]:
num1 = 99.99
print(int(num1))

99

In [35]:
x = 55
y = str(x)
print(y) # '55'
print(type(y)) # 'str'

55
<class 'str'>

In [36]:
_bool = True
int_bool = int(_bool) 
print(int_bool) # 1
print(type(_bool)) # 'bool'
print(type(int_bool)) # 'int'

1
<class 'bool'>
<class 'int'>

In [37]:
_bool = False
int_bool = int(_bool) 
print(int_bool) # 0
print(type(_bool)) # 'bool'
print(type(int_bool)) # 'int'

0
<class 'bool'>
<class 'int'>

## **What are Operators?**
##### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### _Types of Operators in Python_:
1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Membership Operators
7. Identity Operators

## ***Arithmetic Operators*** :
- '+' Addition
- '-' Subtraction
- '*' Multiplication
- '/' Division
- '%' Modulus (Remainder)
- '**' Exponentiation (power)
- '//' Floor Division

Ceil -> Rounding Up - ceil(9.71) - 10 
Floor -> Rounding Down - floor(9.71) - 9

In [38]:
x = 11
y = 7
z = 15
print(x+y) # 18
print(x-y) # 4
print(x*y) # 77
print(x/y) # 1.571
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x**2) # 121
print(x//2) # 5

18
4
77
1.5714285714285714
4
1
4
121
5

x = '10' + 11  # TypeError: can only concatenate str (not "int") to str
print(x)

## ***Comparison Operators*** : 
- '==' Equal to
- '!=' Not Equal to
- '>' Greater Than
- '>=' Greater Than or Equal To
- '<' Less Than
- '<=' Less Than or Equal To

In [42]:
x = 11
y = 7
z = 15
print(x==y) # False
print(x!=y) # True
print(z!=y) # True
print(z!=15) # False
print(x>y) # True
print(x>=y) # True
print(z<=y) # False
print(z<x) # False
print(x!= 2) # True
print(x>=2) # True

False
True
True
False
True
True
False
False
True
True

## ***Logical Operators*** :
- and : 'Returns True' if both the conditions are True
- or : 'Returns False' if both the conditions are False
- not : 'Returns the Opposite'
- 'not' > 'and' > 'or'

In [43]:
x = 11
y = 7
z = 15
print((x == y) and (z!=y) or (y>x)) # ((F) and (T) or (F)) # (F or F) # 'False'
print((x!=y) or (z!=y) or (y>x)) # (T or T or F) # 'True'
print((x>=y) and (z==y) and (z>x)) # (T and F and T) # 'False'
print(not(z!=15)) # not(False) # True
print(not((x<=y) and (z>=y) or (y!=x))) # not(F and T or T) , not(True) - 'False'

False
True
False
True
False

## ***Bitwise Operators*** :
- 'AND' : '&' -> 'Both bit with value 1 return 1 else 0'
- 'OR' : '|' -> 'Any bit with value 1 return 1 else 0'
- 'XOR': '^' -> Alternative bits return 1 else same bits return 0;
- 'NOT' : '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' : '<<' -> 'Shifts the bit to the left'
- 'Right Shift' : '>>' -> 'Shifts the bit to the right'

In [44]:
x = 10
y = 6
print(x&y) # 2
print(x|y) # 14

2
14