In [1]:
print("Hello World!")

Hello World!

In [2]:
# Variable -> is a container which stores data in it. 
# [Python] -> variable auto detects the data type
x = 99
print(x)
print(type(x)) # What data type 'x' stores ['int']

99
<class 'int'>

In [3]:
x = 'Coding'
print(x) # 99 it is updated to 'Coding'
print(type(x)) # 'string' type  , '' or ""

Coding
<class 'str'>

# Java 
int x = 10
System.out.println(x)
String x = 'Coding'
System.out.println(x)

In [4]:
x = 'X' # char
print(x)
print(type(x)) # 'str'

X
<class 'str'>

In [5]:
x = int('21') + 1
print(x) # 22
print(type(x)) # 'int'

22
<class 'int'>

In [6]:
x = 99.99 
print(x)
print(type(x))

99.99
<class 'float'>

In [7]:
x = 11 + 9j
print(x)
print(type(x))

(11+9j)
<class 'complex'>

In [8]:
x = True
print(x)
print(type(x)) # 'bool'

True
<class 'bool'>

In [9]:
# INSERT INTO Customers(customer_id, customer_name , customer_phone) -> parameters
# VALUES ('K0191' , 'Akancha Ranjan', 04727678627) -> arguments
# print [Function -> argument [end,sep]]
print('Python')
print('Programming')

Python
Programming

In [11]:
# By Default end = '\n' [which moves the content to the next line]
print('Python', end = ' ')
print('Programming')
print("Coding is Awesome ðŸ”¥")

Python Programming
Coding is Awesome ðŸ”¥

In [12]:
print('Python', end = '\t') # tab like space  
print('Programming')

Python	Programming

In [13]:
# car_list = ['Creta', 'Safari', 'Sierra' , 'Harrier' , 'Duster'] ',' [Sept]
print('Mon','Tues','Wed', 'Thurs', 'Fri')

Mon Tues Wed Thurs Fri

In [14]:
print('Mon','Tues','Wed', 'Thurs', 'Fri' , sep = ' - ')

Mon - Tues - Wed - Thurs - Fri

## __Input()__ :
##### Used to accept user input from the keyboard as a string which can be type cast as per the requirement.

In [20]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName UltimateForce

UltimateForce

In [21]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName PardhanJi

PardhanJi

In [23]:
# TypeCasting 
val = input("Enter the Value : ") # String
print(val)
print(type(val)) # 'str'

Enter the Value :  21

21
<class 'str'>

In [24]:
val = int(input("Enter the Value : ")) # Int int('21') 21
print(val)
print(type(val))

Enter the Value :  21

21
<class 'int'>

In [25]:
# Operations [Arithmetic Operators]
val = int(input("Enter the Value : ")) 
print(val * 5)
print(type(val))

Enter the Value :  11

55
<class 'int'>

In [26]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  11

1111111111
<class 'str'>

In [27]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  a

aaaaa
<class 'str'>

In [29]:
val = input("Enter the Value : ") 
print(val + '11')
print(type(val))

Enter the Value :  11

1111
<class 'str'>

In [30]:
x = int(input("Enter a number between 1 to 100:")) 
x = x + 11
print(x)

Enter a number between 1 to 100: 66

77

Check_Constraints -> Error Handling ['Raise'] [Try/Catch]

In [35]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Abhishek
Enter Your Designation :  Senior Analyst

Hey , Abhishek! Welcome to the Team. You are hired as a Senior Analyst role.

In [36]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Annu Mishra
Enter Your Designation :  Data Architect

Hey , Annu Mishra! Welcome to the Team. You are hired as a Data Architect role.

In [40]:
# MultiLine Comments 
'''
    This is a multiline Comments .....
    Put the important Stuff here relevant
    to your python Programming
'''
print('Hi, EveryOne!')

Hi, EveryOne!

In [41]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result}")

Enter the First_Value:  22
Enter the Second_Value:  15

The final Result is :  330
The final Result is : 330

In [42]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result + 10}")

Enter the First_Value:  5
Enter the Second_Value:  16

The final Result is :  80
The final Result is : 90

In [43]:
print(result)

80

In [44]:
# Invoice Billing
item1 = float(input("Enter the price of Item1: ")) 
item2 = float(input("Enter the price of Item2: ")) 
item3 = float(input("Enter the price of Item3: ")) 
item4 = float(input("Enter the price of Item4: ")) 
item5 = float(input("Enter the price of Item5: ")) 
billing_amount = item1 + item2 + item3 + item4 + item5
gst_tax = billing_amount * 0.05
total_payment = billing_amount + gst_tax
print("Welcome Customer!, You final billing amount is" , total_payment)
print(f"Welcome Customer!, You final billing amount is {total_payment}" )

Enter the price of Item1:  99.99
Enter the price of Item2:  129.99
Enter the price of Item3:  499.99
Enter the price of Item4:  59.87
Enter the price of Item5:  83.55

Welcome Customer!, You final billing amount is 917.0595
Welcome Customer!, You final billing amount is 917.0595

In [45]:
print(billing_amount)

873.39

In [46]:
print(gst_tax)

43.6695

In [47]:
print(873.39 + 43.6695)

917.0595

In [1]:
# Indentation : 
z = 15
if z > 10: # Comparision Operator [Boolean Result [True/False]]
    print("Z is greater than 10.") # skiped if the above statement is false

print("Outside the If Statement")

Z is greater than 10.
Outside the If Statement

In [2]:
# Identation : 
z = 15
if z > 20: # Comparision Operator [Boolean Result [True/False]]
    print("Z is greater than 20.") # skiped if the above statement is false

print("Outside the If Statement")

Outside the If Statement

In [3]:
print(10>5) # Comparison Operators [True]

True

In [4]:
print(99>199) # False

False

## Variables : What & How?
#### Variables acts as a container used for storing data, which help with:
- Store Data.
- Manipulating Values.
- Reusability.
- Improving the Readibility:
    - total_sum >> ts
    - compound_interest >> c_i
    - age >> a
    - finding_prod_sum >> finding_the_product_and_sum >> p_s

In [5]:
# Declaring and assigning Variables
val = 99
user_name = 'UltimateForce'
print(val)
print(user_name)

99
UltimateForce

In [6]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

a,b,c = 10,20,30,40,50,60,70 # ValueError: too many values to unpack (expected 3)
print(a)
print(b)
print(c)

In [10]:
a,b,*c = 10,20,30,40,50,60,70 
print(a)
print(type(a))
print(b)
print(type(b))
print(c) # [30,40,50,60,70] 5 elements in a list
print(type(c)) # 'List'

10
<class 'int'>
20
<class 'int'>
[30, 40, 50, 60, 70]
<class 'list'>

a,*b,*c = 10,20,30,40,50,60,70 # SyntaxError: multiple starred expressions in assignment
print(a)
print(type(a))
print(b)
print(type(b))
print(c) # [30,40,50,60,70] 5 elements in a list
print(type(c)) # 'List'

In [12]:
a,*b,c = 10,20,30,40,50,60,70 
print(a)
print(type(a))
print(b) # [20,30,40,50,60]
print(type(b)) # 'List'
print(c) 
print(type(c))

10
<class 'int'>
[20, 30, 40, 50, 60]
<class 'list'>
70
<class 'int'>

In [13]:
*a,b,c = 10,20,30,40,50,60,70 
print(a) # [10,20,30,40,50]
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10, 20, 30, 40, 50]
<class 'list'>
60
<class 'int'>
70
<class 'int'>

In [14]:
*a,b,c = 10,20,30
print(a) # 10
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10]
<class 'list'>
20
<class 'int'>
30
<class 'int'>

In [16]:
*a,b,c = 10,20,'a','b','c','d',30,50
print(a) # [10,20,'a','b','c','d']
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10, 20, 'a', 'b', 'c', 'd']
<class 'list'>
30
<class 'int'>
50
<class 'int'>

In [15]:
p=q=r=s = 'Hello World'
print(p)
print(q)
print(r)
print(s)

Hello World
Hello World
Hello World
Hello World

# Rules for Naming a 'Variables' :
- Can include letters, digits and underscore.
- Must start with a letter or underscore.
- case-sensitive:
    - val != Val
    - num != NuM
    - digit != Digit
- Can't use Python Keyword.
    - for , input , print , if , else , def , tuple , list , dict , true , false , while
- Can't have space or special Characters (except _)
- Variable names Can't start with Number.

In [17]:
my_first_variable = 'Python Learning'
print(my_first_variable)

Python Learning

Is it a valid Variable Name or Not : âœ…âŒ
_var : âœ…
22_user : âŒ
word count : âŒ
counter_var : âœ…
boolean : âœ…
loop123 : âœ…
def : âŒ [Keyword]
user-name : âŒ

In [21]:
# String -> Escape Characters ('\')
print('Hi, I\'m good, What about you?') # '\''
print("Hi, I'm good, What about you?")

Hi, I'm good, What about you?
Hi, I'm good, What about you?

In [22]:
print("an \"apple\" a day keeps the doctor away")

an "apple" a day keeps the doctor away

In [23]:
print('an "apple" a day keeps the doctor away')

an "apple" a day keeps the doctor away

In [24]:
print("an 'apple' a day keeps the doctor away")

an 'apple' a day keeps the doctor away

In [26]:
# Multiline Strings [""" ............ """] <pre> tag in html
print("""
                    Ina meena Dika,           Daai,             Daamo nika

                Maaka naaka naaka, chika                pika rika

            Ina meena            dika dika de             daai daamo nika

        Maaka naaka          maaka naaka             chika pika rola rika
""")

                    Ina meena Dika,           Daai,             Daamo nika

                Maaka naaka naaka, chika                pika rika

            Ina meena            dika dika de             daai daamo nika

        Maaka naaka          maaka naaka             chika pika rola rika

In [31]:
# Escape Characters "\n"[Next Line] & '\t' [tab space]
print("Hey: What is your name:\t 'Annu Mishra'")
print("Hello \nWorld")
print("x", end = " ")
print("y", end = " ")
print("z", end = "\n")
print("Welcome Back!")

Hey: What is your name:	 'Annu Mishra'
Hello
World
x y z
Welcome Back!

In [32]:
# type -> conversion()
x = 10.0
print(type(x))

<class 'float'>

In [33]:
num1 = int(x)
print(num1)

10

In [34]:
num1 = 99.99
print(int(num1))

99

In [35]:
x = 55
y = str(x)
print(y) # '55'
print(type(y)) # 'str'

55
<class 'str'>

In [36]:
_bool = True
int_bool = int(_bool) 
print(int_bool) # 1
print(type(_bool)) # 'bool'
print(type(int_bool)) # 'int'

1
<class 'bool'>
<class 'int'>

In [37]:
_bool = False
int_bool = int(_bool) 
print(int_bool) # 0
print(type(_bool)) # 'bool'
print(type(int_bool)) # 'int'

0
<class 'bool'>
<class 'int'>

## **What are Operators?**
##### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### _Types of Operators in Python_:
1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Membership Operators
7. Identity Operators

## ***Arithmetic Operators*** :
- '+' Addition
- '-' Subtraction
- '*' Multiplication
- '/' Division
- '%' Modulus (Remainder)
- '**' Exponentiation (power)
- '//' Floor Division

Ceil -> Rounding Up - ceil(9.71) - 10 
Floor -> Rounding Down - floor(9.71) - 9

In [38]:
x = 11
y = 7
z = 15
print(x+y) # 18
print(x-y) # 4
print(x*y) # 77
print(x/y) # 1.571
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x**2) # 121
print(x//2) # 5

18
4
77
1.5714285714285714
4
1
4
121
5

x = '10' + 11  # TypeError: can only concatenate str (not "int") to str
print(x)

## ***Comparison Operators*** : 
- '==' Equal to
- '!=' Not Equal to
- '>' Greater Than
- '>=' Greater Than or Equal To
- '<' Less Than
- '<=' Less Than or Equal To

In [42]:
x = 11
y = 7
z = 15
print(x==y) # False
print(x!=y) # True
print(z!=y) # True
print(z!=15) # False
print(x>y) # True
print(x>=y) # True
print(z<=y) # False
print(z<x) # False
print(x!= 2) # True
print(x>=2) # True

False
True
True
False
True
True
False
False
True
True

## ***Logical Operators*** :
- and : 'Returns True' if both the conditions are True
- or : 'Returns False' if both the conditions are False
- not : 'Returns the Opposite'
- 'not' > 'and' > 'or'

In [43]:
x = 11
y = 7
z = 15
print((x == y) and (z!=y) or (y>x)) # ((F) and (T) or (F)) # (F or F) # 'False'
print((x!=y) or (z!=y) or (y>x)) # (T or T or F) # 'True'
print((x>=y) and (z==y) and (z>x)) # (T and F and T) # 'False'
print(not(z!=15)) # not(False) # True
print(not((x<=y) and (z>=y) or (y!=x))) # not(F and T or T) , not(True) - 'False'

False
True
False
True
False

## ***Bitwise Operators*** :
- 'AND' : '&' -> 'Both bit with value 1 return 1 else 0'
- 'OR' : '|' -> 'Any bit with value 1 return 1 else 0'
- 'XOR': '^' -> Alternative bits return 1 else same bits return 0;
- 'NOT' : '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' : '<<' -> 'Shifts the bit to the left'
- 'Right Shift' : '>>' -> 'Shifts the bit to the right'

In [44]:
x = 10
y = 6
print(x&y) # 2
print(x|y) # 14

2
14

In [1]:
x = 10 # 1010
y = 6 # 0110
print(x&y) # 2
print(x|y) # 14
print(x^y) # 12 # 1100 = 8+4

2
14
12

In [2]:
X = 10
print(~X)

-11

In [3]:
X = -10 # -(X+1) = -(-9) = 9
print(~X)

9

In [4]:
X = 6 # 0110 # 0000 0110 # 1's -> 1111 1001 [-ve]
print(~X) #-(X+1) # 0110 + 1 = 0111 -> -7

-7

In [5]:
X = -17
print(~X)

16

In [6]:
X = 10
print(X>>2) # Right Shift [2]

2

In [7]:
X = 17
print(X>>3) # Right shift -> 17/2^3 = 17/8 [2]

2

In [8]:
X = 10
print(X<<2) # Left Shift ->  10 * 2 ^2 = 10 * 4 = 40

40

In [9]:
X = 17 
print(X<<3) # Left Shift -> 17 * 2^3 = 17 * 8 = 136

136

## ***Assignment Operators:***
- '=' : (x=5)
- '+=' : (x+=5) => x = x + 5
- '-=' : (x-=5) => x = x - 5
- '*=' : (x *=5) => x = x * 5
- '/=' : (x/=5) => x = x / 5
- '%=' : (x%=5) => x = x % 5
- '**=' : (x **=5) => x = x ** 5
- '//=' : (x//=5) => x = x // 5

In [10]:
x = 10
y = 11
z = 7
x+=y # x = x + y -> 10 + 11 = 21
print(x) # 21
x-=z # x = x - z -> 21 - 7 = 14 
print(x) # 14
x/=2 # x = x / 2 -> 14 / 2 = 7.0 [Float]
print(x) # 7.0

21
14
7.0

In [11]:
x*=x # x = x * x [7.0 * 7.0] -> 49.0
print(x) # 49.0
x%=y # x = x % y [49.0 % 11] -> 5.0
print(x) # 5.0
x//=z # x = x//z [5.0 // 7] -> 0.0
print(x) # 0.0
y**=x # y = y ** x [11 ** 0] -> 1
print(y) # 1.0

49.0
5.0
0.0
1.0

## ***Membership Operators:***
- It Returns Boolean Value (True/False)
- 'in' - True if the value is within the sequence...
- 'not in' - True if the value is not in the sequence...

In [12]:
print('hello' in 'hello World') # True

True

In [13]:
print('Hello' in 'hello World') # False

False

In [14]:
print('I' in 'India') # True

True

In [16]:
print('I' in 'America') # False 'I' == 'i' [False]
print('I' in 'AmerIca') # True 'I' == 'I' [True] [Case-Sensitive]

False
True

In [17]:
# List [Iterables]
print('mon' in ['mon','tue','wed','thur','fri','sat','sun']) # True
print('Sun' in ['mon','tue','wed','thur','fri','sat','sun']) # False[Case-Sensitive]
print('mon' not in ['mon','tue','wed','thur','fri','sat','sun']) # False [It exist]

True
False
False

In [18]:
x = int(False)
print(x) # 0

0

In [19]:
x = int(True)
print(x) # 1

1

## ***Identity Operators:***
- 'is' : Returns True if both the variables refers to the same object (including same memory address)
- 'is not' : Returns True if both the variables refers to the different object (including same memory address)

In [20]:
# '==' comparison Operators [data Equality]
# 'is' Compares the identities [Object Equality] [Data + Address]
a = [1,2,3]
b = a # [1,2,3] [# Deep Copy]
c = [1,2,3] # New Address with same data

print(a==b) # True (Same Content)[Data Equality]
print(a is b) # True [Data + Address] (Same Object in Memory)

print(a==c) # True (Same Content) [Data Equality]
print(a is c) # False (Different Object in Memory)

True
True
True
False

In [21]:
# Memory Address ['Ghar ka Pata?']
print(id(a))
print(id(b))
print(id(c))

2120595010304
2120595010304
2120595002432

In [22]:
a = [5,6,7]
print(b) # [5,6,7]

[1, 2, 3]

In [23]:
print(a)

[5, 6, 7]

In [24]:
print(b)

[1, 2, 3]

In [25]:
x = 10
y = x
print(y)

10

In [26]:
x = [1,2,3]
y = x
print(y)

[1, 2, 3]

In [27]:
x = [5,6,7]
y = x
print(y)

[5, 6, 7]

In [28]:
x = [7,8,9]
print(y)
print(x)

[5, 6, 7]
[7, 8, 9]

In [29]:
print(id(x))
print(id(y))

2120594999744
2120595069888

In [30]:
a=[1,2,3]
b=a
print(a is b) # True

True

In [31]:
print(id(a))
print(id(b))

2120595065472
2120595065472

In [32]:
a=[3,4,5]
print(a)
print(id(a))
print(b)
print(id(b))

[3, 4, 5]
2120595066752
[1, 2, 3]
2120595065472

In [33]:
print(a is not b) # True [Address is different]

True

## ***Order of Operations: (PEMDAS/BODMAS)***'
1. () Parenthesis
2. ** Exponential
3. '*','/','//','%' Multiplication,Division (Left To Right)
4. '+','-' Addition , Subtraction.
5. Bitwise Operators
6. Comparisons
7. Identity/ Membership
8. not > and > or (Logical Operators)

In [34]:
# 10//3 -> 3.33333 # round down 3
print(10//3)

3

In [35]:
# 10 % 3 -> 3*3 =9, 10-9 = 1 remainder
print(10%3) # 1

1

In [36]:
cond1 = (10*3)+((10<<3)*(10%3)) # (30) + ((10*2^3) * 1) # (30) + (80) = 110
cond2 = (5**2)*((3//2)-(10%7)) # 25 * (1-3) => # 25 * -2 = -50
_bool = cond1>cond2 # 110>-50 # True
print(cond1)#110
print(cond2)#-50
print(_bool)#True

110
-50
True

In [37]:
print(cond1 is cond2) # False [Different Object in Memory]
print(cond1 is not cond2) # True
print(id(cond1))
print(id(cond2))

False
True
140713960224600
2120576905968

In [38]:
print(((5+3*2)*2 // 5 % 4 << 1 | 3) & 15 > 10 and not(8>>2 == 2) or (7 ^ 3 !=4))

False

In [3]:
a = 2
b = 2
print(id(a))
print(id(b))

140713960221144
140713960221144

In [4]:
a = 2
b = 7
print(id(a))
print(id(b))

140713960221144
140713960221304

In [5]:
a = 'Coding Ninja'
b = 'Coding Ninja'
print(id(a))
print(id(b))

2351301844208
2351301763696

In [6]:
a = 18
b = 18
print(id(a))
print(id(b))

140713960221656
140713960221656

In [7]:
c = 'Coding Ninja'
print(id(c))

2351302207856

In [8]:
c = 18
print(id(c))

140713960221656

In [9]:
c = 17
print(id(c))

140713960221624

In [10]:
# Indexing [Position] -> '+ve' left to right , else '-ve' right to left 
_str = 'Coding Ninjas'
print(_str[0]) # 'C'
print(_str[5]) # 'g'
print(_str[6]) # ' '
print(_str[-1]) # 's'
print(_str[-6]) # 'N'

C
g

s
N

In [11]:
print(_str[9]) # 'n'
print(_str[-11]) # ''

n
d

print(_str[15]) # IndexError: string index out of range

In [15]:
# Slicing -> Extracting a substring from a string.
# Slicing[Start[0]:stop[last_char]:step[1]] # stop(non-inclusive)
_str = 'Coding Ninjas'
print(_str[:6]) # start = 0 , stop = 6(non-inclusive), step(1) # Coding
print(_str[7:]) # 'Ninjas'

Coding
Ninjas

In [16]:
# 'Coding Ninjas'
print(_str[0:12:2]) # 'Cdn ij' 
print(_str[0:15:3]) # 'Ci ns'

Cdn ij
Ci ns

In [17]:
print(_str[:]) # ['Coding Ninjas']
print(_str[::-1]) # -1[step] [reverse the pattern] 'sajniN gnidoC'

Coding Ninjas
sajniN gnidoC

In [18]:
print(_str[-6:]) # ['Ninjas']
print(_str[-3:0]) # ''

Ninjas

In [20]:
print(_str[-3:0:-1])

jniN gnido

In [21]:
print(_str[-11:7:1]) # 'ding '
print(_str[-5:-11:-2]) # 'i n'

ding
i n

In [22]:
# String Case Methods
_str = "Python is Awesome ðŸ”¥"
print(len(_str))

19

In [23]:
print(_str.upper())

PYTHON IS AWESOME ðŸ”¥

In [24]:
print(_str.lower())

python is awesome ðŸ”¥

In [26]:
_str = _str.lower()
print(_str)

python is awesome ðŸ”¥

In [27]:
print(_str.title()) # Convert every first letter of each word into capitalize 
                    # and other into lower case

Python Is Awesome ðŸ”¥

In [28]:
print(_str.capitalize()) # Convert First char of a whole string into uppercase

Python is awesome ðŸ”¥

In [29]:
# String Operations
str1 = 'Coding'
str2 = 'Ninjas'
new_string = str1 + ' ' + str2 # Concatenation
print(new_string)

Coding Ninjas

In [30]:
# F-Strings
name = 'Sandeep'
age = 29
print(f"Hi, {name}, you are {age} year old")

Hi, Sandeep, you are 29 year old

# General String Concatenation
name = 'Sandeep'
age = 29
print('Hi,' + name + ', You are' + age + ' year old.')
# TypeError: can only concatenate str (not "int") to str

In [33]:
# General String Concatenation
name = 'Sandeep'
age = 29
print('Hi,' + name + ', You are ' + str(age) + ' year old.')

Hi,Sandeep, You are 29 year old.

In [34]:
print(type(age))

<class 'int'>

In [36]:
# Repeat (*)
_echo = 'Python '
print(_echo * 5)

Python Python Python Python Python

In [37]:
# String Comparison
_str1 = 'Python'
_str2 = 'Java'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [38]:
# String Comparison
_str1 = 'Swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [39]:
# String Comparison
_str1 = 'Coding'
_str2 = 'coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [40]:
# String Comparison
_str1 = 'coding' # 99
_str2 = 'Zodiac' # 90
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [41]:
# String Comparison
_str1 = 'codING' 
_str2 = 'codiNg' 
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [42]:
# String Comparison
_str1 = 'python' 
_str2 = 'python' 
print(_str1 == _str2) # True
print(_str1 != _str2) # False
print(_str1 >= _str2) # True
print(_str1 <= _str2) # True

True
False
True
True

In [43]:
# Common String Methods
# replace
_str = 'Python is Awesome!'
new_str = _str.replace('Awesome' , 'Fantastic')
print(new_str)

Python is Fantastic!

In [45]:
# replace [Case-Sensitive]
_str = 'Python is Awesome!'
new_str = _str.replace('awesome' , 'Fantastic')
print(new_str)

Python is Awesome!

In [46]:
_str = 'Python is Awesome!'
new_str = _str.replace('o','O')
print(new_str)

PythOn is AwesOme!

In [47]:
# Split() -> Split_to_text # Delimeter/Seperator [stores as an element in a list]
_text = 'Indore@MadhyaPradesh@India'
print(_text.split('@'))

['Indore', 'MadhyaPradesh', 'India']

In [48]:
print(_text.split('@')[-1]) # 'India'

India

In [50]:
print(_text.split('@')[-2:]) # ['MadhyaPradesh', 'India']

['MadhyaPradesh', 'India']

In [51]:
topics = 'SQL*Python*Excel*PowerBI'
topic_list = topics.split('*')
print(topic_list)

['SQL', 'Python', 'Excel', 'PowerBI']

In [52]:
split_str = 'ViratKohli Mahi RohitSharma Sachin GG'
print(split_str.split(' '))

['ViratKohli', 'Mahi', 'RohitSharma', 'Sachin', 'GG']

In [53]:
file_path = 'http://localhost:8889/notebooks/anaconda_projects/CN-Python-03/Python_Learning.ipynb?'
path_list = file_path.split('/')
print(path_list)

['http:', '', 'localhost:8889', 'notebooks', 'anaconda_projects', 'CN-Python-03', 'Python_Learning.ipynb?']

In [54]:
# String Format -> .format() == f-string
name = 'Akancha'
age = 27
gender = 'female'
print("Hi, {}.... You are {} years old. And hired as a {} candidate!".format(name,age,gender))

Hi, Akancha.... You are 27 years old. And hired as a female candidate!

In [55]:
# String Format -> .format() == f-string
name = 'Akancha'
age = 27
gender = 'female'
print(f"Hi, {name}.... You are {age} years old. And hired as a {gender} candidate!")

Hi, Akancha.... You are 27 years old. And hired as a female candidate!

In [56]:
# strip() -> trim the space
print('      Python Programming         '.strip())

Python Programming

In [57]:
print('#########Python Programming############'.strip('#'))

Python Programming

In [58]:
print('#########Python Programming'.strip('#'))

Python Programming

In [59]:
print('Python Programming###########'.strip('#'))

Python Programming

In [60]:
print('$$$$$$$$$$Python Programming#######'.strip('$#'))

Python Programming

In [61]:
print('$$$$$$$$$$Python Programming#######'.strip('$').strip('#'))

Python Programming

In [62]:
# index() -> Position
_str = 'This is a Python Course...'
print(_str.index('is')) # 'First Occurence'

2

In [64]:
# index() -> Position
_str = 'This is a Python Course...'
# print(_str.index('python')) # Error ['Case-Sensitive'] ValueError: substring not found
print(_str.index('Python'))

10

In [65]:
# index() -> Position # 2nd Occurence
_str = 'This is a Python Course...'
print(_str.index('is',3,10)) # index(substr , start , stop)
print(_str.index('is',3)) # index(substr , start , stop)

5
5

In [66]:
# Strinc Checks() -> Returns Boolean Results
print('CodingNinjas'.isalpha()) # True
print('Ninja99'.isalpha()) # False

True
False

In [68]:
print('CodingNinjas$'.isalpha()) # False
print('Ninja...'.isalpha()) # False

False
False

In [70]:
print('Ninja123'.isalnum()) # True

True

In [71]:
print('CodingNinja'.isupper()) # False
print('CODING'.isupper()) # True

False
True

In [72]:
print('coDinG'.upper().isupper()) # 'CODING' # True

True

In [73]:
print('CodingNinja'.islower()) # False
print('CODING'.lower().islower()) # True

False
True

In [74]:
print('12330387628'.isnumeric()) # True
print('Ninja123'.isnumeric()) # False
print('Coding@99172'.isnumeric()) # False

True
False
False

In [75]:
# SwapCase # Upper -> Lower
print('CodIng NinJaS'.swapcase())

cODiNG nINjAs

In [77]:
# .startswith (Boolean Return)
_str = 'Hey, Welcome to the world of Programming!'
print(_str.startswith('hey')) # False
print(_str.startswith('Hey')) # True
print(_str.startswith('Hello')) # False
print(_str.startswith('Hi')) # False
print(_str.startswith('H')) # True
print(_str.startswith('Welcome',5)) # True

False
True
False
False
True
True

In [78]:
# .endswith (Boolean Return)
_str = 'Hey, Welcome to the world of Programming!'
print(_str.endswith('hey')) # False
print(_str.endswith('Program')) # False
print(_str.endswith('Programming')) # False
print(_str.endswith('Programming!')) # True
print(_str.endswith('!')) # True
print(_str.endswith('g!')) # True
print(_str.endswith('ing!' , -4)) # True
print(_str.endswith('ing!')) # True
print(_str.endswith('ing!',-3)) # False

False
False
False
True
True
True
True
True
False

In [79]:
# .count() -> 'substring' -> Counts the Substring
_str = 'This is a Python Course'
print(_str.count('is')) # 2

2

In [80]:
# identity Operator 'is','is not'
print('is' in _str) # True

True

In [82]:
# Open Mic : Doubt Discussion
# strip() -> trim the space
strip_str = '      Python           Programming         '.strip()
print(strip_str)

Python           Programming

In [83]:
split_str = strip_str.split()
print(split_str)

['Python', 'Programming']

In [84]:
# Index concepts in list
print(split_str[0]) # 'Python'
print(split_str[1]) # 'Programming'

Python
Programming

In [85]:
# Concatenate
print(f"{split_str[0]} {split_str[1]}")

Python Programming

# What is a Data Structure?
#### A data structure is simply a way to organize and store data in memory, so that we can use it efficiently.

## Why do we need to use them?
1. Organizations : Keep the data neat and easy to find.
2. Efficiency - Helps to perform operations (insert, delete, search) quickly.
3. Memory Management - Saves space, avoid waste.
4. Flexibility - Can store all sorts of data (number, text, etc.)
5. Abstraction - Hides the complex details, we just call simple operations
6. Scalability - Good Data Structure lets our program handle more data without slowing down.

# Lists in Python:
#### A List is :
1. An ordered collection (items have a fixed position).
2. mutable (can be changed after creation).
3. Allows Duplicates.
4. Lists are also flexible -> they can store different data types together like integers, string, booleans, etc.

## Why use lists?
- To keep a group of related items togethers in a specific order.
- To easily add, remove, change, or access the elements.
- To perform the task like sorting, or summing values.

In [1]:
_list = []
print(_list) # Empty List
print(type(_list)) # 'list'

[]
<class 'list'>

In [2]:
_list = [1,2,3,4,5,6,7] # Interger_list
print(_list)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
_list = [1,2,99.99,True,"Coding",'k'] # 'Mixed_List' #Heterogenous
print(_list)

[1, 2, 99.99, True, 'Coding', 'k']

In [4]:
# Duplicates elements are allowed in list
country_list = ['India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland']
print(country_list)
print(type(country_list))

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
<class 'list'>

In [5]:
# list() Constructor
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland'))
print(country_list)
print(type(country_list))

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
<class 'list'>

In [6]:
_list = list("Coding") # [Multiple elements in a list]
print(_list) # ['C','o','d','i','n','g']
print(type(_list))

['C', 'o', 'd', 'i', 'n', 'g']
<class 'list'>

In [7]:
_list = list(("Coding",)) # [Multiple elements in a list]
print(_list) # ["Coding"]
print(type(_list))

['Coding']
<class 'list'>

In [8]:
_list = list(["Coding"]) # [Multiple elements in a list]
print(_list) # ["Coding"]
print(type(_list))

['Coding']
<class 'list'>

In [9]:
val = ("Python")
print(type(val)) # 'str'

<class 'str'>

In [10]:
val = ("Python",)
print(type(val)) # 'tuple'

<class 'tuple'>

Tuple -> ('Mon','Tues','Wed','Thurs','Fri','Sat','Sun') [Immutable]
List -> ['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'] [Mutable]

In [11]:
# Nested List -> A List insida a list
nested_list = [
    111,
    'Coding',
    [11,22,33,44,55],
    'Python',
    ['a','b','c','d','e'],
    True
]
print(nested_list)

[111, 'Coding', [11, 22, 33, 44, 55], 'Python', ['a', 'b', 'c', 'd', 'e'], True]

In [12]:
# Indexing 
print(nested_list[0]) # 111
print(nested_list[2]) # [11, 22, 33, 44, 55]
print(nested_list[2][1]) # 22
print(nested_list[4][-1]) # 'e'
print(nested_list[-2][-4]) # 'b'

111
[11, 22, 33, 44, 55]
22
e
b

In [13]:
# list() Constructor
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland'))
print(country_list[0]) # 'India'
print(country_list[-5]) # 'Singapore'
print(country_list[5]) # 'Japan'
print(country_list[15]) # 'Finland'
print(country_list[-7]) # 'France'
print(country_list[9]) # 'France'

India
Singapore
Japan
Finland
France
France

print(country_list[17]) # IndexError: list index out of range
print(country_list[-17]) # IndexError: list index out of range

# Slicing if applied on string, it means taking a substring of a string.
# Slicing if applied on list, it means cutting down the list to sublist.
# Slice [Start[0] : Stop[Length][Non-Inclusive]: Step[1])

In [16]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland'))
print(country_list[::]) # Full_List

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']

In [17]:
print(country_list[2:5]) # ['Russia', 'China', 'Canada']
print(country_list[9:]) # ['France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']

['Russia', 'China', 'Canada']
['France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']

In [18]:
print(country_list[-5:]) # ['Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
print(country_list[-9:2]) # []

['Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
[]

In [19]:
print(country_list[-9:2:-1]) # ['Sri-Lanka','Vietnam','Japan','Canada','China']

['Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China']

In [20]:
print(country_list[-4:-2]) # ['Australia', 'China']

['Australia', 'China']

In [21]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland'))
print(country_list[-9:2:-2]) # ['Sri-Lanka','Japan','China']

['Sri-Lanka', 'Japan', 'China']

In [22]:
print(country_list[-9:2:-3]) # ['Sri-Lanka' , 'Canada']

['Sri-Lanka', 'Canada']

In [23]:
print(country_list[-9:2:-4]) # ['Sri-Lanka','China']

['Sri-Lanka', 'China']

In [24]:
print(country_list[-9:-2]) # ['Sri-Lanka','Japan','France','India','Singapore','Australia','China']

['Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China']

In [25]:
print(country_list[-9:12]) # ['Sri-Lanka','Japan','France','India','Singapore']

['Sri-Lanka', 'Japan', 'France', 'India', 'Singapore']

In [26]:
print(country_list[-5:21]) # ['Singapore','Australia','China','New Zealand', 'Finland']

['Singapore', 'Australia', 'China', 'New Zealand', 'Finland']

In [27]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland'))
print(country_list[-9:-5:2]) # ['Sri-Lanka','France']

['Sri-Lanka', 'France']

In [28]:
# Basic List Operations :
# len() -> Returning the length of a list by counting the number of elements in a list
print(len(country_list))

16

In [29]:
# min() , max(), sum() -> Aggregation Functions ['Numeric List']
_num_list = [11,22,33,44,55,66,77,88,99,110]
print(len(_num_list)) # 10
print(min(_num_list)) # 11
print(max(_num_list)) # 110
print(sum(_num_list)) # 605

10
11
110
605

In [30]:
# min() , max(), sum() -> Aggregation Functions ['Numeric List']
_num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # int(False) = 0 , int(True) = 1
print(len(_num_list)) # 12
print(min(_num_list)) # 0
print(max(_num_list)) # 110
print(sum(_num_list)) # 605 + 1[True] = 606

12
False
110
606

In [31]:
print(int(False)) # 0

0

In [32]:
print(int(True)) # 1

1

In [33]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland' , 'india'))
print(min(country_list)) # ASCII 'America'
print(max(country_list)) # ASCII 'india'

America
india

In [34]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland' ))
print(min(country_list)) # ASCII 'America'
print(max(country_list)) # ASCII 'Vietnam'

America
Vietnam

print(sum(country_list)) : TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
# List are Mutable [Means we can change the list content]
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam',
               'Sri-Lanka','Japan','France','India','Singapore','Australia',
               'China','New Zealand', 'Finland' ))
country_list[-3] = 'Spain' # 'China' -> 'Spain'
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland']

In [40]:
country_list[8:11] = ['France'] # ['Japan','France','India'] -> [France]
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland']

('France') # 'String' âŒ
('France',) # 'tuple' âœ…
['France'] # 'list' âœ…

In [41]:
country_list[-2:] = ('NewZealand')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'N', 'e', 'w', 'Z', 'e', 'a', 'l', 'a', 'n', 'd']

In [42]:
country_list[-10:] = ('NewZealand',) # Tuple
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'NewZealand']

In [45]:
# '*' Repeat the content of a list
char_list = ['a','b','c','d',True]
print(char_list * 2)
print(char_list * 3)
print(len(char_list * 3))

['a', 'b', 'c', 'd', True, 'a', 'b', 'c', 'd', True]
['a', 'b', 'c', 'd', True, 'a', 'b', 'c', 'd', True, 'a', 'b', 'c', 'd', True]
15

#### ***Adding an items in a List:***
1. .append() := 'Add one item at the end'
2. .extend() := 'Add all items from another lists'
3. .insert() := 'Insert an item at specific index'

In [46]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.append('Nepal')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal']

In [47]:
new_country_list = ['South Africa','UAE','Iran','Thailand','Afghanisthan','Myanmar','UK','Maldives']
country_list.extend(new_country_list)
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanisthan', 'Myanmar', 'UK', 'Maldives']

In [48]:
# insert(pos , val) 
country_list.insert(3,'Qatar')
print(country_list)

['India', 'America', 'Russia', 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanisthan', 'Myanmar', 'UK', 'Maldives']

In [49]:
# insert(pos , val) 
country_list.insert(3,['Bangladesh','Turkey']) # Nested List
print(country_list)

['India', 'America', 'Russia', ['Bangladesh', 'Turkey'], 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanisthan', 'Myanmar', 'UK', 'Maldives']

In [50]:
# insert(pos , val) 
country_list.insert(3,[['Poland' , 'Isreal']]) # Nested List
print(country_list)

['India', 'America', 'Russia', [['Poland', 'Isreal']], ['Bangladesh', 'Turkey'], 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanisthan', 'Myanmar', 'UK', 'Maldives']

In [51]:
# [[xxxxx],[xxxxxxx]]
country_list.insert(-1,[['India'] , ['China']]) 
print(country_list)

['India', 'America', 'Russia', [['Poland', 'Isreal']], ['Bangladesh', 'Turkey'], 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanisthan', 'Myanmar', 'UK', [['India'], ['China']], 'Maldives']

In [53]:
# Adding a list using '+' Operators [Concatenations] ['.extend']
weekday_list = ['Mon','Tue','Wed','Thurs','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
print(week_list)
print(type(week_list)) # 'list'

['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
<class 'list'>

In [54]:
# Indexing in Nested List [2D-Matrix] [rows * cols] [3X5]
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9]
]
print(nested_list[0][1]) # 2
print(nested_list[-1][-1]) # 9
print(nested_list[2][-3]) # 5
print(nested_list[-1][-5]) # 1
print(nested_list[2][-5]) # 1

2
9
5
1
1

In [55]:
# Slicing [rows][cols]
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9]
]
print(nested_list[0:2]) # 1st & 2nd rows

[[1, 2, 3, 4, 5], [0, 2, 4, 6, 8]]

In [56]:
# Slicing [rows][cols]
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9]
]
print(nested_list[::-1]) # Reversed Rows

[[1, 3, 5, 7, 9], [0, 2, 4, 6, 8], [1, 2, 3, 4, 5]]

In [57]:
# Slicing [rows][cols]
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9]
]
print(nested_list[::-1][0:2]) # [[1, 3, 5, 7, 9], [0, 2, 4, 6, 8]]

[[1, 3, 5, 7, 9], [0, 2, 4, 6, 8]]

In [58]:
# Slicing [rows][cols]
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9]
]
print(nested_list[-1][1:4]) # [1,3,5,7,9] # 3,5,7

[3, 5, 7]

In [1]:
# Comparison List '=='
_list1 = [1,2,3,4,5]
_list2 = [1,2,3]
result = (_list1 == _list2) # boolean ['False']
print(result)

False

In [2]:
# Comparison List '=='
_list1 = [1,2,3,4,5]
_list2 = [1,2,3,4,5]
result = (_list1 == _list2) # boolean ['True']
print(result)

True

In [3]:
# Comparison List '=='
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 != _list2) # boolean ['True']
print(result)

True

In [4]:
# Comparison List '=='
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 >= _list2) # boolean ['True']
print(result)

True

In [6]:
# Comparison List '=='
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 <= _list2) # boolean ['False']
print(result)

False

# Comparison List '=='
_list1 = [1,2,3,4,5,6,7]
_list2 = ['1','2','3','4','5']
result = (_list1 <= _list2) # TypeError: '<=' not supported between instances of 'int' and 'str'
print(result)

In [8]:
# Comparison List '=='
_list1 = ['a','b','c']
_list2 = ['1','2','3','4','5']
result = (_list1 >= _list2) # "True"
print(result)

True

## ***Removing items from a list:***
1. Remove - Remove the 1st occurrence of an element
2. Pop - Removes the element by its index, return values can be stored in a new variable.
3. del - Delete an elements by index or slicing
4. clear - Empties the list

In [9]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.remove('Spain')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand', 'Finland']

In [10]:
country_list.remove('Finland')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

country_list.remove('UAE') # ValueError: list.remove(x): x not in list
print(country_list)

In [12]:
if 'UAE' in country_list: # Membership Operator [Returns Boolean]
    country_list.remove('UAE')
else:
    print('UAE is not present in the country list.')

UAE is not present in the country list.

In [13]:
# pop() - pop the elements by index, popped element can be stored in new_variable
pop_country = country_list.pop(-1) # 'New-Zealand'
print(pop_country) # 'New-Zealand'
print(country_list) # ['India' to 'Aus']

New Zealand
['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia']

In [14]:
pop_country = country_list.pop() #
print(pop_country) # 
print(country_list) #

Australia
['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore']

In [15]:
pop_country = country_list.pop(7) # 'Sri-Lanka'
print(pop_country) # 'Sri-Lanka'
print(country_list) # [except Sri-Lanka]

Sri-Lanka
['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'France', 'Singapore']

In [16]:
# del required a call of a list with specific index or slicing to delete an element or a list of elements
del country_list[3] # 'China'
print(country_list)

['India', 'America', 'Russia', 'Canada', 'Japan', 'Vietnam', 'France', 'Singapore']

In [17]:
del country_list[-3:] # ['Vietnam', 'France', 'Singapore']
print(country_list)

['India', 'America', 'Russia', 'Canada', 'Japan']

In [18]:
pop_element = country_list.pop() # 'Japan'
print(pop_element) # 'Japan'
print(country_list) # ['India', 'America', 'Russia', 'Canada']

Japan
['India', 'America', 'Russia', 'Canada']

In [19]:
country_list.append(pop_element) # 'Japan'
print(country_list) # ['India', 'America', 'Russia', 'Canada','Japan']

['India', 'America', 'Russia', 'Canada', 'Japan']

pop_element = country_list.pop(2,4) # TypeError: pop expected at most 1 argument, got 2

In [21]:
# .clear() -> It will empty the original Lists
country_list.clear()

In [22]:
print(country_list) # []

[]

country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
               'Spain', 'New Zealand', 'Finland']
del country_list # -> Remove the Complete List
print(country_list) # NameError: name 'country_list' is not defined

In [25]:
# Sorting w.r.t [ASCII]
# Sorting[Ascending] & Reverse() [::-1]
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.sort()
print(country_list)

['America', 'Canada', 'China', 'Finland', 'India', 'Japan', 'New Zealand', 'Russia', 'Spain', 'Sri-Lanka', 'Vietnam', 'australia', 'france', 'singapore']

In [26]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.sort()
print(country_list[::-1]) # Reverse the sorted list in Descending Order

['singapore', 'france', 'australia', 'Vietnam', 'Sri-Lanka', 'Spain', 'Russia', 'New Zealand', 'Japan', 'India', 'Finland', 'China', 'Canada', 'America']

In [27]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.sort(reverse = True) # Descending Order
print(country_list)

['singapore', 'france', 'australia', 'Vietnam', 'Sri-Lanka', 'Spain', 'Russia', 'New Zealand', 'Japan', 'India', 'Finland', 'China', 'Canada', 'America']

.sort() # Ascending order
.sort(reverse = True) # Descending order

In [28]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.sort(key = str.lower) # Now, Every Element is in lower case and then sorted
print(country_list)

['America', 'australia', 'Canada', 'China', 'Finland', 'france', 'India', 'Japan', 'New Zealand', 'Russia', 'singapore', 'Spain', 'Sri-Lanka', 'Vietnam']

In [29]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.sort(key = str.lower) # Now, Every Element is in lower case and then sorted
print(country_list[::-1]) # reverse the order

['Vietnam', 'Sri-Lanka', 'Spain', 'singapore', 'Russia', 'New Zealand', 'Japan', 'India', 'france', 'Finland', 'China', 'Canada', 'australia', 'America']

In [30]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.sort(key = str.lower , reverse = True) # Now, Every Element is in lower case and then sorted
print(country_list) # reverse the order

['Vietnam', 'Sri-Lanka', 'Spain', 'singapore', 'Russia', 'New Zealand', 'Japan', 'India', 'france', 'Finland', 'China', 'Canada', 'australia', 'America']

In [31]:
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.sort(reverse = True , key = str.upper) # Now, Every Element is in lower case and then sorted
print(country_list) # reverse the order

['Vietnam', 'Sri-Lanka', 'Spain', 'singapore', 'Russia', 'New Zealand', 'Japan', 'India', 'france', 'Finland', 'China', 'Canada', 'australia', 'America']

In [32]:
# .reverse() -> The Original List
country_list =['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland']
country_list.reverse()
print(country_list)

['Finland', 'New Zealand', 'Spain', 'australia', 'singapore', 'france', 'Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China', 'Russia', 'America', 'India']

In [33]:
# 'Joining' strings from a list
word_list = ['Python', 'is', 'an', 'awesome', 'programming', 'language']
final_statement = ' '.join(word_list)
print(final_statement)
print(type(final_statement))

Python is an awesome programming language
<class 'str'>

In [35]:
char_list = ['P','y','t','h','o','n',' ','P','r','o','g','r','a','m','m','i','n','g','!']
result = ''.join(char_list)
print(result)

Python Programming!

In [41]:
# .count() -> Calculating the occurrence of an element in a list.
country_list =['America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America']
count_India = country_list.count('India')
print(count_India) #3

3

In [46]:
# 1st Occurrence
first_= country_list.index('India')
print(first_)

1

In [47]:
# 2nd Occurrence [8 index]
second_= country_list.index('India',first_ +1) # .index('search' , start , stop)
print(second_)

8

In [48]:
# 3rd Occurrence [15 index]
third_ =  country_list.index('India',second_ +1) # .index('search' , start , stop)
print(third_)

15

In [49]:
num_list = [1,2,2,3,4,1,1,3,2,3,22,33,2,2,1,2,3,2,212,2,2,12,2,1,2,1,2]
print(num_list.count(2))
print(num_list.count(1))

12
6

In [50]:
# Deep Copy[Same Memory] Vs Shallow Copy[Independent Memory] 
# Identity Operator 'is'/'is not'[(id) Memory Address]
# .copy() [Shallow Copy]
country_list =['America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America']
new_country_list = country_list.copy() # Shallow Copy
print(id(country_list))
print(id(new_country_list)) # Differnt id

2400454867648
2400438032128

In [51]:
del new_country_list[-3:]
print(new_country_list)

['America', 'India', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'India', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland']

In [52]:
print(country_list)

['America', 'India', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'India', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland', 'India', 'Japan', 'America']

In [53]:
print(id(country_list))
print(id(new_country_list))

2400454867648
2400438032128

In [54]:
# Deep Copy()
weekday_list = ['Mon','Tue','Wed','Thurs','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
new_week_list = week_list # Deep Copy
print(id(week_list))
print(id(new_week_list)) # Same Memory Address

2400469491648
2400469491648

In [55]:
# Before 
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']

In [56]:
del new_week_list[-3:] # removing 'Fri','Sat','Sun'
# After 
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thurs']
['Mon', 'Tue', 'Wed', 'Thurs']

In [57]:
# Using slicing [:] # Shallow Copy
country_list =['America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America']
new_country_list = country_list[:] # Shallow Copy
print(id(country_list))
print(id(new_country_list)) # Differnt id

2400469595136
2400469592576

In [58]:
# Using slicing [:] # Shallow Copy
country_list =['America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America']
new_country_list = country_list[-3:] # Shallow Copy
print(id(country_list))
print(id(new_country_list)) # Differnt id

2400469393408
2400469396480

In [59]:
# Using list() Constructor (Shallow Copy)
country_list =('America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America')
new_country_list = list(country_list) # Shallow Copy
print(id(country_list))
print(id(new_country_list)) # Differnt id

2400469118272
2400469388224

In [62]:
# Index() -> Its a method to find the general position of first occurrence of a specified value in a list.
country_list = list(('America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America'))
print(country_list.index('India')) # 1
print(country_list.index('Japan')) # 5
print(country_list.index('America')) # 0
# print(country_list.index('Australia')) # ValueError: 'Australia' is not in list
print(country_list.index('America',5)) # 17
print(country_list.index('Japan',6)) # 16

1
5
0
17
16

In [63]:
# List Comprehension [Short Hand Property]
# list[Iterable] , 'i' is an iterator
squared = [i**2 for i in range(1,6)] # range(1,6) [1,2,3,4,5]
print(squared) # [1,4,9,16,25]

[1, 4, 9, 16, 25]

In [64]:
# range(start, stop, step)
squared = [i**3 for i in range(2,11,2)] # range(2,11,2) [2,4,6,8,10]
print(squared) # [8,64,216,512,1000]

[8, 64, 216, 512, 1000]

## ***What exactly is a Tuples?***
- Ordered Collection (items maintains its positions)
- It can store different data types togethers
- But the Only Big Difference here is: Immutability(Once created, their elements can't be changed, added to, or removed.)

In [65]:
_tuple = ()
print(type(_tuple))

<class 'tuple'>

In [66]:
_tuple = (1,2,'3','4',False,True,299.99,'Coding','k')
print(_tuple)

(1, 2, '3', '4', False, True, 299.99, 'Coding', 'k')

In [67]:
_tuple = 1,2,3,4,5,6,7,8,9
print(_tuple) # (1,2,3,4,5,6,7,8,9)
print(type(_tuple)) # <'tuple'>

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [68]:
# tuple() Constructor
country_list = ['America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America']
country_tuple = tuple(country_list) # Shallow Copy
print(country_tuple)
print(id(country_tuple))

('America', 'India', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'India', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland', 'India', 'Japan', 'America')
2400468790112

In [69]:
print(country_list)
print(id(country_list))

['America', 'India', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'India', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland', 'India', 'Japan', 'America']
2400468996416

In [70]:
char_tuple = tuple('Python') # String
print(char_tuple) # ('P','y','t','h','o','n')

('P', 'y', 't', 'h', 'o', 'n')

In [71]:
_tuple = tuple(('Python',)) #Tuple
print(_tuple) # ('Python',)

('Python',)

In [72]:
# Nested Tuple 
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9]
]
nested_tuple = tuple(nested_list) # 'Shallow'
print(nested_tuple)

([1, 2, 3, 4, 5], [0, 2, 4, 6, 8], [1, 3, 5, 7, 9])

In [73]:
print(type(nested_tuple))

<class 'tuple'>

In [74]:
print(type(nested_tuple[0]))

<class 'list'>

In [75]:
nested_tuple[-1]

[1, 3, 5, 7, 9]

In [76]:
# List as an element in a tuple is mutuable
# Although Tuple itself is immutable
nested_tuple[0].append(6) # [1,2,3,4,5,6]
print(nested_tuple)

([1, 2, 3, 4, 5, 6], [0, 2, 4, 6, 8], [1, 3, 5, 7, 9])

In [77]:
nested_tuple = (('Mon','Tues','Wed'),('Thurs','Fri','Sat','Sun'))
print(type(nested_tuple))
print(type(nested_tuple[0]))

<class 'tuple'>
<class 'tuple'>

# Tuple as an elements will stick to its property[Immutability], can't be updated
nested_tuple[0].append('Sun') # AttributeError: 'tuple' object has no attribute 'append'

In [80]:
# Indexing & Slicing [Tuples]
country_list = ['America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America']
country_tuple = tuple(country_list) 
print(country_tuple[-1]) # 'America'
print(country_tuple[-5]) # 'New Zealand'
print(country_tuple[4:7]) # (Canada', 'Japan', 'Vietnam')
print(country_tuple[4:7:2]) # (Canada', 'Vietnam')
print(country_tuple[::-2]) # Reverse the tuple with alternative elements

America
New Zealand
('Canada', 'Japan', 'Vietnam')
('Canada', 'Vietnam')
('America', 'India', 'New Zealand', 'australia', 'france', 'Sri-Lanka', 'Japan', 'China', 'India')

In [81]:
# Finding the length of a tuple
country_list = ['America','India', 'Russia', 'China', 'Canada', 'Japan', 
               'Vietnam', 'Sri-Lanka','India', 'france', 'singapore', 'australia', 
               'Spain', 'New Zealand', 'Finland', 'India','Japan','America']
country_tuple = tuple(country_list) 
print(len(country_tuple))

18

In [82]:
# len(), min(), max(), sum()
num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # False-0, True-1
num_tuple = tuple(num_list) # tuple ['Shallow Copy']
print(len(num_tuple)) # 12
print(min(num_tuple)) # False[0]
print(max(num_tuple)) # 110
print(sum(num_tuple)) # 606

12
False
110
606