In [1]:
print("Hello World!")

Hello World!

In [2]:
# Variable -> is a container which stores data in it. 
# [Python] -> variable auto detects the data type
x = 99
print(x)
print(type(x)) # What data type 'x' stores ['int']

99
<class 'int'>

In [3]:
x = 'Coding'
print(x) # 99 it is updated to 'Coding'
print(type(x)) # 'string' type  , '' or ""

Coding
<class 'str'>

# Java 
int x = 10
System.out.println(x)
String x = 'Coding'
System.out.println(x)

In [4]:
x = 'X' # char
print(x)
print(type(x)) # 'str'

X
<class 'str'>

In [5]:
x = int('21') + 1
print(x) # 22
print(type(x)) # 'int'

22
<class 'int'>

In [6]:
x = 99.99 
print(x)
print(type(x))

99.99
<class 'float'>

In [7]:
x = 11 + 9j
print(x)
print(type(x))

(11+9j)
<class 'complex'>

In [8]:
x = True
print(x)
print(type(x)) # 'bool'

True
<class 'bool'>

In [9]:
# INSERT INTO Customers(customer_id, customer_name , customer_phone) -> parameters
# VALUES ('K0191' , 'Akancha Ranjan', 04727678627) -> arguments
# print [Function -> argument [end,sep]]
print('Python')
print('Programming')

Python
Programming

In [11]:
# By Default end = '\n' [which moves the content to the next line]
print('Python', end = ' ')
print('Programming')
print("Coding is Awesome ðŸ”¥")

Python Programming
Coding is Awesome ðŸ”¥

In [12]:
print('Python', end = '\t') # tab like space  
print('Programming')

Python	Programming

In [13]:
# car_list = ['Creta', 'Safari', 'Sierra' , 'Harrier' , 'Duster'] ',' [Sept]
print('Mon','Tues','Wed', 'Thurs', 'Fri')

Mon Tues Wed Thurs Fri

In [14]:
print('Mon','Tues','Wed', 'Thurs', 'Fri' , sep = ' - ')

Mon - Tues - Wed - Thurs - Fri

## __Input()__ :
##### Used to accept user input from the keyboard as a string which can be type cast as per the requirement.

In [20]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName UltimateForce

UltimateForce

In [21]:
user_name = input("Enter your UserName") # String
print(user_name)

Enter your UserName PardhanJi

PardhanJi

In [23]:
# TypeCasting 
val = input("Enter the Value : ") # String
print(val)
print(type(val)) # 'str'

Enter the Value :  21

21
<class 'str'>

In [24]:
val = int(input("Enter the Value : ")) # Int int('21') 21
print(val)
print(type(val))

Enter the Value :  21

21
<class 'int'>

In [25]:
# Operations [Arithmetic Operators]
val = int(input("Enter the Value : ")) 
print(val * 5)
print(type(val))

Enter the Value :  11

55
<class 'int'>

In [26]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  11

1111111111
<class 'str'>

In [27]:
val = input("Enter the Value : ") 
print(val * 5)
print(type(val))

Enter the Value :  a

aaaaa
<class 'str'>

In [29]:
val = input("Enter the Value : ") 
print(val + '11')
print(type(val))

Enter the Value :  11

1111
<class 'str'>

In [30]:
x = int(input("Enter a number between 1 to 100:")) 
x = x + 11
print(x)

Enter a number between 1 to 100: 66

77

Check_Constraints -> Error Handling ['Raise'] [Try/Catch]

In [35]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Abhishek
Enter Your Designation :  Senior Analyst

Hey , Abhishek! Welcome to the Team. You are hired as a Senior Analyst role.

In [36]:
# String Pattern
# F-String
user_name = input("Enter the UserName : ")
designation = input('Enter Your Designation : ')
print(f"Hey , {user_name}! Welcome to the Team. You are hired as a {designation} role.")

Enter the UserName :  Annu Mishra
Enter Your Designation :  Data Architect

Hey , Annu Mishra! Welcome to the Team. You are hired as a Data Architect role.

In [40]:
# MultiLine Comments 
'''
    This is a multiline Comments .....
    Put the important Stuff here relevant
    to your python Programming
'''
print('Hi, EveryOne!')

Hi, EveryOne!

In [41]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result}")

Enter the First_Value:  22
Enter the Second_Value:  15

The final Result is :  330
The final Result is : 330

In [42]:
num1 = int(input("Enter the First_Value: ")) # Alt + Shift + down Key to duplicate the row
num2 = int(input("Enter the Second_Value: ")) 
result = num1 * num2
print("The final Result is : " , result)
print(f"The final Result is : {result + 10}")

Enter the First_Value:  5
Enter the Second_Value:  16

The final Result is :  80
The final Result is : 90

In [43]:
print(result)

80

In [44]:
# Invoice Billing
item1 = float(input("Enter the price of Item1: ")) 
item2 = float(input("Enter the price of Item2: ")) 
item3 = float(input("Enter the price of Item3: ")) 
item4 = float(input("Enter the price of Item4: ")) 
item5 = float(input("Enter the price of Item5: ")) 
billing_amount = item1 + item2 + item3 + item4 + item5
gst_tax = billing_amount * 0.05
total_payment = billing_amount + gst_tax
print("Welcome Customer!, You final billing amount is" , total_payment)
print(f"Welcome Customer!, You final billing amount is {total_payment}" )

Enter the price of Item1:  99.99
Enter the price of Item2:  129.99
Enter the price of Item3:  499.99
Enter the price of Item4:  59.87
Enter the price of Item5:  83.55

Welcome Customer!, You final billing amount is 917.0595
Welcome Customer!, You final billing amount is 917.0595

In [45]:
print(billing_amount)

873.39

In [46]:
print(gst_tax)

43.6695

In [47]:
print(873.39 + 43.6695)

917.0595

In [1]:
# Indentation : 
z = 15
if z > 10: # Comparision Operator [Boolean Result [True/False]]
    print("Z is greater than 10.") # skiped if the above statement is false

print("Outside the If Statement")

Z is greater than 10.
Outside the If Statement

In [2]:
# Identation : 
z = 15
if z > 20: # Comparision Operator [Boolean Result [True/False]]
    print("Z is greater than 20.") # skiped if the above statement is false

print("Outside the If Statement")

Outside the If Statement

In [3]:
print(10>5) # Comparison Operators [True]

True

In [4]:
print(99>199) # False

False

## Variables : What & How?
#### Variables acts as a container used for storing data, which help with:
- Store Data.
- Manipulating Values.
- Reusability.
- Improving the Readibility:
    - total_sum >> ts
    - compound_interest >> c_i
    - age >> a
    - finding_prod_sum >> finding_the_product_and_sum >> p_s

In [5]:
# Declaring and assigning Variables
val = 99
user_name = 'UltimateForce'
print(val)
print(user_name)

99
UltimateForce

In [6]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

a,b,c = 10,20,30,40,50,60,70 # ValueError: too many values to unpack (expected 3)
print(a)
print(b)
print(c)

In [10]:
a,b,*c = 10,20,30,40,50,60,70 
print(a)
print(type(a))
print(b)
print(type(b))
print(c) # [30,40,50,60,70] 5 elements in a list
print(type(c)) # 'List'

10
<class 'int'>
20
<class 'int'>
[30, 40, 50, 60, 70]
<class 'list'>

a,*b,*c = 10,20,30,40,50,60,70 # SyntaxError: multiple starred expressions in assignment
print(a)
print(type(a))
print(b)
print(type(b))
print(c) # [30,40,50,60,70] 5 elements in a list
print(type(c)) # 'List'

In [12]:
a,*b,c = 10,20,30,40,50,60,70 
print(a)
print(type(a))
print(b) # [20,30,40,50,60]
print(type(b)) # 'List'
print(c) 
print(type(c))

10
<class 'int'>
[20, 30, 40, 50, 60]
<class 'list'>
70
<class 'int'>

In [13]:
*a,b,c = 10,20,30,40,50,60,70 
print(a) # [10,20,30,40,50]
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10, 20, 30, 40, 50]
<class 'list'>
60
<class 'int'>
70
<class 'int'>

In [14]:
*a,b,c = 10,20,30
print(a) # 10
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10]
<class 'list'>
20
<class 'int'>
30
<class 'int'>

In [16]:
*a,b,c = 10,20,'a','b','c','d',30,50
print(a) # [10,20,'a','b','c','d']
print(type(a)) # 'List'
print(b)
print(type(b))
print(c) 
print(type(c))

[10, 20, 'a', 'b', 'c', 'd']
<class 'list'>
30
<class 'int'>
50
<class 'int'>

In [15]:
p=q=r=s = 'Hello World'
print(p)
print(q)
print(r)
print(s)

Hello World
Hello World
Hello World
Hello World

# Rules for Naming a 'Variables' :
- Can include letters, digits and underscore.
- Must start with a letter or underscore.
- case-sensitive:
    - val != Val
    - num != NuM
    - digit != Digit
- Can't use Python Keyword.
    - for , input , print , if , else , def , tuple , list , dict , true , false , while
- Can't have space or special Characters (except _)
- Variable names Can't start with Number.

In [17]:
my_first_variable = 'Python Learning'
print(my_first_variable)

Python Learning

Is it a valid Variable Name or Not : âœ…âŒ
_var : âœ…
22_user : âŒ
word count : âŒ
counter_var : âœ…
boolean : âœ…
loop123 : âœ…
def : âŒ [Keyword]
user-name : âŒ

In [21]:
# String -> Escape Characters ('\')
print('Hi, I\'m good, What about you?') # '\''
print("Hi, I'm good, What about you?")

Hi, I'm good, What about you?
Hi, I'm good, What about you?

In [22]:
print("an \"apple\" a day keeps the doctor away")

an "apple" a day keeps the doctor away

In [23]:
print('an "apple" a day keeps the doctor away')

an "apple" a day keeps the doctor away

In [24]:
print("an 'apple' a day keeps the doctor away")

an 'apple' a day keeps the doctor away

In [26]:
# Multiline Strings [""" ............ """] <pre> tag in html
print("""
                    Ina meena Dika,           Daai,             Daamo nika

                Maaka naaka naaka, chika                pika rika

            Ina meena            dika dika de             daai daamo nika

        Maaka naaka          maaka naaka             chika pika rola rika
""")

                    Ina meena Dika,           Daai,             Daamo nika

                Maaka naaka naaka, chika                pika rika

            Ina meena            dika dika de             daai daamo nika

        Maaka naaka          maaka naaka             chika pika rola rika

In [31]:
# Escape Characters "\n"[Next Line] & '\t' [tab space]
print("Hey: What is your name:\t 'Annu Mishra'")
print("Hello \nWorld")
print("x", end = " ")
print("y", end = " ")
print("z", end = "\n")
print("Welcome Back!")

Hey: What is your name:	 'Annu Mishra'
Hello
World
x y z
Welcome Back!

In [32]:
# type -> conversion()
x = 10.0
print(type(x))

<class 'float'>

In [33]:
num1 = int(x)
print(num1)

10

In [34]:
num1 = 99.99
print(int(num1))

99

In [35]:
x = 55
y = str(x)
print(y) # '55'
print(type(y)) # 'str'

55
<class 'str'>

In [36]:
_bool = True
int_bool = int(_bool) 
print(int_bool) # 1
print(type(_bool)) # 'bool'
print(type(int_bool)) # 'int'

1
<class 'bool'>
<class 'int'>

In [37]:
_bool = False
int_bool = int(_bool) 
print(int_bool) # 0
print(type(_bool)) # 'bool'
print(type(int_bool)) # 'int'

0
<class 'bool'>
<class 'int'>

## **What are Operators?**
##### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### _Types of Operators in Python_:
1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Membership Operators
7. Identity Operators

## ***Arithmetic Operators*** :
- '+' Addition
- '-' Subtraction
- '*' Multiplication
- '/' Division
- '%' Modulus (Remainder)
- '**' Exponentiation (power)
- '//' Floor Division

Ceil -> Rounding Up - ceil(9.71) - 10 
Floor -> Rounding Down - floor(9.71) - 9

In [38]:
x = 11
y = 7
z = 15
print(x+y) # 18
print(x-y) # 4
print(x*y) # 77
print(x/y) # 1.571
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x**2) # 121
print(x//2) # 5

18
4
77
1.5714285714285714
4
1
4
121
5

x = '10' + 11  # TypeError: can only concatenate str (not "int") to str
print(x)

## ***Comparison Operators*** : 
- '==' Equal to
- '!=' Not Equal to
- '>' Greater Than
- '>=' Greater Than or Equal To
- '<' Less Than
- '<=' Less Than or Equal To

In [42]:
x = 11
y = 7
z = 15
print(x==y) # False
print(x!=y) # True
print(z!=y) # True
print(z!=15) # False
print(x>y) # True
print(x>=y) # True
print(z<=y) # False
print(z<x) # False
print(x!= 2) # True
print(x>=2) # True

False
True
True
False
True
True
False
False
True
True

## ***Logical Operators*** :
- and : 'Returns True' if both the conditions are True
- or : 'Returns False' if both the conditions are False
- not : 'Returns the Opposite'
- 'not' > 'and' > 'or'

In [43]:
x = 11
y = 7
z = 15
print((x == y) and (z!=y) or (y>x)) # ((F) and (T) or (F)) # (F or F) # 'False'
print((x!=y) or (z!=y) or (y>x)) # (T or T or F) # 'True'
print((x>=y) and (z==y) and (z>x)) # (T and F and T) # 'False'
print(not(z!=15)) # not(False) # True
print(not((x<=y) and (z>=y) or (y!=x))) # not(F and T or T) , not(True) - 'False'

False
True
False
True
False

## ***Bitwise Operators*** :
- 'AND' : '&' -> 'Both bit with value 1 return 1 else 0'
- 'OR' : '|' -> 'Any bit with value 1 return 1 else 0'
- 'XOR': '^' -> Alternative bits return 1 else same bits return 0;
- 'NOT' : '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' : '<<' -> 'Shifts the bit to the left'
- 'Right Shift' : '>>' -> 'Shifts the bit to the right'

In [44]:
x = 10
y = 6
print(x&y) # 2
print(x|y) # 14

2
14

In [1]:
x = 10 # 1010
y = 6 # 0110
print(x&y) # 2
print(x|y) # 14
print(x^y) # 12 # 1100 = 8+4

2
14
12

In [2]:
X = 10
print(~X)

-11

In [3]:
X = -10 # -(X+1) = -(-9) = 9
print(~X)

9

In [4]:
X = 6 # 0110 # 0000 0110 # 1's -> 1111 1001 [-ve]
print(~X) #-(X+1) # 0110 + 1 = 0111 -> -7

-7

In [5]:
X = -17
print(~X)

16

In [6]:
X = 10
print(X>>2) # Right Shift [2]

2

In [7]:
X = 17
print(X>>3) # Right shift -> 17/2^3 = 17/8 [2]

2

In [8]:
X = 10
print(X<<2) # Left Shift ->  10 * 2 ^2 = 10 * 4 = 40

40

In [9]:
X = 17 
print(X<<3) # Left Shift -> 17 * 2^3 = 17 * 8 = 136

136

## ***Assignment Operators:***
- '=' : (x=5)
- '+=' : (x+=5) => x = x + 5
- '-=' : (x-=5) => x = x - 5
- '*=' : (x *=5) => x = x * 5
- '/=' : (x/=5) => x = x / 5
- '%=' : (x%=5) => x = x % 5
- '**=' : (x **=5) => x = x ** 5
- '//=' : (x//=5) => x = x // 5

In [10]:
x = 10
y = 11
z = 7
x+=y # x = x + y -> 10 + 11 = 21
print(x) # 21
x-=z # x = x - z -> 21 - 7 = 14 
print(x) # 14
x/=2 # x = x / 2 -> 14 / 2 = 7.0 [Float]
print(x) # 7.0

21
14
7.0

In [11]:
x*=x # x = x * x [7.0 * 7.0] -> 49.0
print(x) # 49.0
x%=y # x = x % y [49.0 % 11] -> 5.0
print(x) # 5.0
x//=z # x = x//z [5.0 // 7] -> 0.0
print(x) # 0.0
y**=x # y = y ** x [11 ** 0] -> 1
print(y) # 1.0

49.0
5.0
0.0
1.0

## ***Membership Operators:***
- It Returns Boolean Value (True/False)
- 'in' - True if the value is within the sequence...
- 'not in' - True if the value is not in the sequence...

In [12]:
print('hello' in 'hello World') # True

True

In [13]:
print('Hello' in 'hello World') # False

False

In [14]:
print('I' in 'India') # True

True

In [16]:
print('I' in 'America') # False 'I' == 'i' [False]
print('I' in 'AmerIca') # True 'I' == 'I' [True] [Case-Sensitive]

False
True

In [17]:
# List [Iterables]
print('mon' in ['mon','tue','wed','thur','fri','sat','sun']) # True
print('Sun' in ['mon','tue','wed','thur','fri','sat','sun']) # False[Case-Sensitive]
print('mon' not in ['mon','tue','wed','thur','fri','sat','sun']) # False [It exist]

True
False
False

In [18]:
x = int(False)
print(x) # 0

0

In [19]:
x = int(True)
print(x) # 1

1

## ***Identity Operators:***
- 'is' : Returns True if both the variables refers to the same object (including same memory address)
- 'is not' : Returns True if both the variables refers to the different object (including same memory address)

In [20]:
# '==' comparison Operators [data Equality]
# 'is' Compares the identities [Object Equality] [Data + Address]
a = [1,2,3]
b = a # [1,2,3] [# Deep Copy]
c = [1,2,3] # New Address with same data

print(a==b) # True (Same Content)[Data Equality]
print(a is b) # True [Data + Address] (Same Object in Memory)

print(a==c) # True (Same Content) [Data Equality]
print(a is c) # False (Different Object in Memory)

True
True
True
False

In [21]:
# Memory Address ['Ghar ka Pata?']
print(id(a))
print(id(b))
print(id(c))

2120595010304
2120595010304
2120595002432

In [22]:
a = [5,6,7]
print(b) # [5,6,7]

[1, 2, 3]

In [23]:
print(a)

[5, 6, 7]

In [24]:
print(b)

[1, 2, 3]

In [25]:
x = 10
y = x
print(y)

10

In [26]:
x = [1,2,3]
y = x
print(y)

[1, 2, 3]

In [27]:
x = [5,6,7]
y = x
print(y)

[5, 6, 7]

In [28]:
x = [7,8,9]
print(y)
print(x)

[5, 6, 7]
[7, 8, 9]

In [29]:
print(id(x))
print(id(y))

2120594999744
2120595069888

In [30]:
a=[1,2,3]
b=a
print(a is b) # True

True

In [31]:
print(id(a))
print(id(b))

2120595065472
2120595065472

In [32]:
a=[3,4,5]
print(a)
print(id(a))
print(b)
print(id(b))

[3, 4, 5]
2120595066752
[1, 2, 3]
2120595065472

In [33]:
print(a is not b) # True [Address is different]

True

## ***Order of Operations: (PEMDAS/BODMAS)***'
1. () Parenthesis
2. ** Exponential
3. '*','/','//','%' Multiplication,Division (Left To Right)
4. '+','-' Addition , Subtraction.
5. Bitwise Operators
6. Comparisons
7. Identity/ Membership
8. not > and > or (Logical Operators)

In [34]:
# 10//3 -> 3.33333 # round down 3
print(10//3)

3

In [35]:
# 10 % 3 -> 3*3 =9, 10-9 = 1 remainder
print(10%3) # 1

1

In [36]:
cond1 = (10*3)+((10<<3)*(10%3)) # (30) + ((10*2^3) * 1) # (30) + (80) = 110
cond2 = (5**2)*((3//2)-(10%7)) # 25 * (1-3) => # 25 * -2 = -50
_bool = cond1>cond2 # 110>-50 # True
print(cond1)#110
print(cond2)#-50
print(_bool)#True

110
-50
True

In [37]:
print(cond1 is cond2) # False [Different Object in Memory]
print(cond1 is not cond2) # True
print(id(cond1))
print(id(cond2))

False
True
140713960224600
2120576905968

In [38]:
print(((5+3*2)*2 // 5 % 4 << 1 | 3) & 15 > 10 and not(8>>2 == 2) or (7 ^ 3 !=4))

False

In [3]:
a = 2
b = 2
print(id(a))
print(id(b))

140713960221144
140713960221144

In [4]:
a = 2
b = 7
print(id(a))
print(id(b))

140713960221144
140713960221304

In [5]:
a = 'Coding Ninja'
b = 'Coding Ninja'
print(id(a))
print(id(b))

2351301844208
2351301763696

In [6]:
a = 18
b = 18
print(id(a))
print(id(b))

140713960221656
140713960221656

In [7]:
c = 'Coding Ninja'
print(id(c))

2351302207856

In [8]:
c = 18
print(id(c))

140713960221656

In [9]:
c = 17
print(id(c))

140713960221624

In [10]:
# Indexing [Position] -> '+ve' left to right , else '-ve' right to left 
_str = 'Coding Ninjas'
print(_str[0]) # 'C'
print(_str[5]) # 'g'
print(_str[6]) # ' '
print(_str[-1]) # 's'
print(_str[-6]) # 'N'

C
g

s
N

In [11]:
print(_str[9]) # 'n'
print(_str[-11]) # ''

n
d

print(_str[15]) # IndexError: string index out of range

In [15]:
# Slicing -> Extracting a substring from a string.
# Slicing[Start[0]:stop[last_char]:step[1]] # stop(non-inclusive)
_str = 'Coding Ninjas'
print(_str[:6]) # start = 0 , stop = 6(non-inclusive), step(1) # Coding
print(_str[7:]) # 'Ninjas'

Coding
Ninjas

In [16]:
# 'Coding Ninjas'
print(_str[0:12:2]) # 'Cdn ij' 
print(_str[0:15:3]) # 'Ci ns'

Cdn ij
Ci ns

In [17]:
print(_str[:]) # ['Coding Ninjas']
print(_str[::-1]) # -1[step] [reverse the pattern] 'sajniN gnidoC'

Coding Ninjas
sajniN gnidoC

In [18]:
print(_str[-6:]) # ['Ninjas']
print(_str[-3:0]) # ''

Ninjas

In [20]:
print(_str[-3:0:-1])

jniN gnido

In [21]:
print(_str[-11:7:1]) # 'ding '
print(_str[-5:-11:-2]) # 'i n'

ding
i n

In [22]:
# String Case Methods
_str = "Python is Awesome ðŸ”¥"
print(len(_str))

19

In [23]:
print(_str.upper())

PYTHON IS AWESOME ðŸ”¥

In [24]:
print(_str.lower())

python is awesome ðŸ”¥

In [26]:
_str = _str.lower()
print(_str)

python is awesome ðŸ”¥

In [27]:
print(_str.title()) # Convert every first letter of each word into capitalize 
                    # and other into lower case

Python Is Awesome ðŸ”¥

In [28]:
print(_str.capitalize()) # Convert First char of a whole string into uppercase

Python is awesome ðŸ”¥

In [29]:
# String Operations
str1 = 'Coding'
str2 = 'Ninjas'
new_string = str1 + ' ' + str2 # Concatenation
print(new_string)

Coding Ninjas

In [30]:
# F-Strings
name = 'Sandeep'
age = 29
print(f"Hi, {name}, you are {age} year old")

Hi, Sandeep, you are 29 year old

# General String Concatenation
name = 'Sandeep'
age = 29
print('Hi,' + name + ', You are' + age + ' year old.')
# TypeError: can only concatenate str (not "int") to str

In [33]:
# General String Concatenation
name = 'Sandeep'
age = 29
print('Hi,' + name + ', You are ' + str(age) + ' year old.')

Hi,Sandeep, You are 29 year old.

In [34]:
print(type(age))

<class 'int'>

In [36]:
# Repeat (*)
_echo = 'Python '
print(_echo * 5)

Python Python Python Python Python

In [37]:
# String Comparison
_str1 = 'Python'
_str2 = 'Java'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [38]:
# String Comparison
_str1 = 'Swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [39]:
# String Comparison
_str1 = 'Coding'
_str2 = 'coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [40]:
# String Comparison
_str1 = 'coding' # 99
_str2 = 'Zodiac' # 90
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [41]:
# String Comparison
_str1 = 'codING' 
_str2 = 'codiNg' 
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [42]:
# String Comparison
_str1 = 'python' 
_str2 = 'python' 
print(_str1 == _str2) # True
print(_str1 != _str2) # False
print(_str1 >= _str2) # True
print(_str1 <= _str2) # True

True
False
True
True

In [43]:
# Common String Methods
# replace
_str = 'Python is Awesome!'
new_str = _str.replace('Awesome' , 'Fantastic')
print(new_str)

Python is Fantastic!

In [45]:
# replace [Case-Sensitive]
_str = 'Python is Awesome!'
new_str = _str.replace('awesome' , 'Fantastic')
print(new_str)

Python is Awesome!

In [46]:
_str = 'Python is Awesome!'
new_str = _str.replace('o','O')
print(new_str)

PythOn is AwesOme!

In [47]:
# Split() -> Split_to_text # Delimeter/Seperator [stores as an element in a list]
_text = 'Indore@MadhyaPradesh@India'
print(_text.split('@'))

['Indore', 'MadhyaPradesh', 'India']

In [48]:
print(_text.split('@')[-1]) # 'India'

India

In [50]:
print(_text.split('@')[-2:]) # ['MadhyaPradesh', 'India']

['MadhyaPradesh', 'India']

In [51]:
topics = 'SQL*Python*Excel*PowerBI'
topic_list = topics.split('*')
print(topic_list)

['SQL', 'Python', 'Excel', 'PowerBI']

In [52]:
split_str = 'ViratKohli Mahi RohitSharma Sachin GG'
print(split_str.split(' '))

['ViratKohli', 'Mahi', 'RohitSharma', 'Sachin', 'GG']

In [53]:
file_path = 'http://localhost:8889/notebooks/anaconda_projects/CN-Python-03/Python_Learning.ipynb?'
path_list = file_path.split('/')
print(path_list)

['http:', '', 'localhost:8889', 'notebooks', 'anaconda_projects', 'CN-Python-03', 'Python_Learning.ipynb?']

In [54]:
# String Format -> .format() == f-string
name = 'Akancha'
age = 27
gender = 'female'
print("Hi, {}.... You are {} years old. And hired as a {} candidate!".format(name,age,gender))

Hi, Akancha.... You are 27 years old. And hired as a female candidate!

In [55]:
# String Format -> .format() == f-string
name = 'Akancha'
age = 27
gender = 'female'
print(f"Hi, {name}.... You are {age} years old. And hired as a {gender} candidate!")

Hi, Akancha.... You are 27 years old. And hired as a female candidate!

In [56]:
# strip() -> trim the space
print('      Python Programming         '.strip())

Python Programming

In [57]:
print('#########Python Programming############'.strip('#'))

Python Programming

In [58]:
print('#########Python Programming'.strip('#'))

Python Programming

In [59]:
print('Python Programming###########'.strip('#'))

Python Programming

In [60]:
print('$$$$$$$$$$Python Programming#######'.strip('$#'))

Python Programming

In [61]:
print('$$$$$$$$$$Python Programming#######'.strip('$').strip('#'))

Python Programming

In [62]:
# index() -> Position
_str = 'This is a Python Course...'
print(_str.index('is')) # 'First Occurence'

2

In [64]:
# index() -> Position
_str = 'This is a Python Course...'
# print(_str.index('python')) # Error ['Case-Sensitive'] ValueError: substring not found
print(_str.index('Python'))

10

In [65]:
# index() -> Position # 2nd Occurence
_str = 'This is a Python Course...'
print(_str.index('is',3,10)) # index(substr , start , stop)
print(_str.index('is',3)) # index(substr , start , stop)

5
5

In [66]:
# Strinc Checks() -> Returns Boolean Results
print('CodingNinjas'.isalpha()) # True
print('Ninja99'.isalpha()) # False

True
False

In [68]:
print('CodingNinjas$'.isalpha()) # False
print('Ninja...'.isalpha()) # False

False
False

In [70]:
print('Ninja123'.isalnum()) # True

True

In [71]:
print('CodingNinja'.isupper()) # False
print('CODING'.isupper()) # True

False
True

In [72]:
print('coDinG'.upper().isupper()) # 'CODING' # True

True

In [73]:
print('CodingNinja'.islower()) # False
print('CODING'.lower().islower()) # True

False
True

In [74]:
print('12330387628'.isnumeric()) # True
print('Ninja123'.isnumeric()) # False
print('Coding@99172'.isnumeric()) # False

True
False
False

In [75]:
# SwapCase # Upper -> Lower
print('CodIng NinJaS'.swapcase())

cODiNG nINjAs

In [77]:
# .startswith (Boolean Return)
_str = 'Hey, Welcome to the world of Programming!'
print(_str.startswith('hey')) # False
print(_str.startswith('Hey')) # True
print(_str.startswith('Hello')) # False
print(_str.startswith('Hi')) # False
print(_str.startswith('H')) # True
print(_str.startswith('Welcome',5)) # True

False
True
False
False
True
True

In [78]:
# .endswith (Boolean Return)
_str = 'Hey, Welcome to the world of Programming!'
print(_str.endswith('hey')) # False
print(_str.endswith('Program')) # False
print(_str.endswith('Programming')) # False
print(_str.endswith('Programming!')) # True
print(_str.endswith('!')) # True
print(_str.endswith('g!')) # True
print(_str.endswith('ing!' , -4)) # True
print(_str.endswith('ing!')) # True
print(_str.endswith('ing!',-3)) # False

False
False
False
True
True
True
True
True
False

In [79]:
# .count() -> 'substring' -> Counts the Substring
_str = 'This is a Python Course'
print(_str.count('is')) # 2

2

In [80]:
# identity Operator 'is','is not'
print('is' in _str) # True

True

In [82]:
# Open Mic : Doubt Discussion
# strip() -> trim the space
strip_str = '      Python           Programming         '.strip()
print(strip_str)

Python           Programming

In [83]:
split_str = strip_str.split()
print(split_str)

['Python', 'Programming']

In [84]:
# Index concepts in list
print(split_str[0]) # 'Python'
print(split_str[1]) # 'Programming'

Python
Programming

In [85]:
# Concatenate
print(f"{split_str[0]} {split_str[1]}")

Python Programming